<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>cms dashboard
    </title>
    <!-- Bootstrap CSS -->
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../../static/css/custom.css">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/eeq.css}" href="../../../static/css/eeq.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/tableList.css}" href="../../../static/css/tableList.css">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/all.css}" href="../../../static/css/all.css">

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/admin-fragments :: header"></div>


    <div class="tabcontent ">
        <div class=" " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" style="margin-left: 36%" id="staticBackdropLabel">Информация об оборудовании</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th scope="row" class="m-0">Завод</th>
                                <td th:text="${pipeline.factory.factoryName}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Цех</th>
                                <td th:text="${pipeline.department}"></td>

                            </tr>
                            <tr>
                                <th scope="row">Установка</th>
                                <td th:text="${pipeline.plant}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Блок</th>
                                <td th:text="${pipeline.block}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Технологическое место</th>
                                <td th:text="${pipeline.technologicalPlace}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Классификация</th>
                                <td th:text="${pipeline.clacification}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Наименование оборудования</th>
                                <td th:text="${pipeline.equipmentIdentification}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Заводской номер</th>
                                <td th:text="${pipeline.serialNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Регистрационный номер</th>
                                <td th:text="${pipeline.registrationNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Инвентаризационный номер</th>
                                <td th:text="${pipeline.inventoryNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Тип</th>
                                <td th:text="${pipeline.type}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Назначение трубопровода</th>
                                <td th:text="${pipeline.naznacenieTruboprovoda}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Рабочая среда</th>
                                <td th:text="${pipeline.rabSreda}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Температура стенки, °С</th>
                                <td th:text="${pipeline.tempStenki}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Давление, кгс/см2 (МПа)</th>
                                <td th:text="${pipeline.davlenie}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Наименование участков или обозначение по схеме</th>
                                <td th:text="${pipeline.naimUchastkovPoSxeme}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Наружный диаметр трубы, мм</th>
                                <td th:text="${pipeline.narDiametrTrubi}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Толщина стенки трубы, мм</th>
                                <td th:text="${pipeline.tolwinaStenkiTrubi}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Длина участка трубопровода, м</th>
                                <td th:text="${pipeline.dlinaUcastkaTrub}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Материал труб</th>
                                <td th:text="${pipeline.materialTrub}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Дата ввода в эксплуатацию</th>
                                <td th:text="${pipeline.dataVvoda}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Расчетный срок службы трубопровода, лет</th>
                                <td th:text="${pipeline.rascSrokSlujbi}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Последний проведения ремонта</th>
                                <td th:text="${pipeline.remont}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Завод изготовитель</th>
                                <td th:text="${pipeline.zavodIzgotovitel}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Тип изоляции</th>
                                <td th:text="${pipeline.tipIzolyacii}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer px-2" >
                            <button type="button" class="btn btn-info text-white  ">
                                <a class="text-decoration-none text-white" th:href="${'/equipment/go-to-update/pipeline/   ' + {pipeline.id} + '/'}"><i class="fa-solid fa-pen-to-square"></i> Изменить</a>
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-danger  ">
                                <a class="text-decoration-none text-white" th:href="@{/equipment/delete/pipeline/{pipelineId}(pipelineId=${pipeline.id})}"><i class="fa-solid fa-trash"></i> Удалить </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="../../../static/js/bootstrap.bundle.js"></script>
</body>

</html>


