<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>cms dashboard
    </title>
    <!-- Bootstrap CSS -->
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../../static/css/custom.css">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/eeq.css}" href="../../../static/css/eeq.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/tableList.css}" href="../../../static/css/tableList.css">


    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/all.css}" href="../../../static/css/all.css">

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/admin-fragments :: header"></div>


    <div class="tabcontent ">
        <div class=" " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" style="margin-left: 36%" id="staticBackdropLabel">Информация об оборудовании</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th scope="row" class="m-0">Завод</th>
                                <td th:text="${torch.factory.factoryName}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Цех</th>
                                <td th:text="${torch.department}"></td>

                            </tr>
                            <tr>
                                <th scope="row">Установка</th>
                                <td th:text="${torch.plant}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Блок</th>
                                <td th:text="${torch.block}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Технологическое место</th>
                                <td th:text="${torch.technologicalPlace}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Классификация</th>
                                <td th:text="${torch.clacification}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Наименование оборудования</th>
                                <td th:text="${torch.equipmentIdentification}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Заводской номер</th>
                                <td th:text="${torch.serialNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Регистрационный номер</th>
                                <td th:text="${torch.registrationNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Инвентаризационный номер</th>
                                <td th:text="${torch.inventoryNomer}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Тип</th>
                                <td th:text="${torch.type}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Максимальное количество сжигаемого газа, тыс. м3/сутки</th>
                                <td th:text="${torch.maksKolVoSjGaza}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Диаметр ствола, мм</th>
                                <td th:text="${torch.diametrStvola}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Диаметр оголовка, мм</th>
                                <td th:text="${torch.diametrOgolovka}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Высота ствола, М</th>
                                <td th:text="${torch.visotaStvola}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Давление газа на входе кгс/см2</th>
                                <td th:text="${torch.davlenieGazaNaVxode}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Режим работы установки</th>
                                <td th:text="${torch.rejimRabotiUstanivki}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Количество дежурных горелок, шт</th>
                                <td th:text="${torch.kolVoDejurnixGorelok}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Материал изготовления ствола</th>
                                <td th:text="${torch.materialStvola}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Дата ввода в эксплуатацию</th>
                                <td th:text="${torch.dataVvoda}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Расчетный срок службы</th>
                                <td th:text="${torch.rascSrokSlujbi}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Год выпуска</th>
                                <td th:text="${torch.godVipuska}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Изготовитель</th>
                                <td th:text="${torch.izgotovitel}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer px-2" >
                            <button type="button" class="btn btn-info text-white text-uppercase ">
                                <a class="text-decoration-none text-white" th:href="${'/equipment/go-to-update/torch/' + {torch.id} + '/'}"><i class="fa-solid fa-pen-to-square"></i> Изменить</a>
                            </button>
                            <button sec:authorize="hasRole('ROLE_ADMIN')" type="button" class="btn btn-danger text-uppercase ">
                                <a class="text-decoration-none text-white" th:href="@{/equipment/delete/torch/{torchId}(torchId=${torch.id})}"><i class="fa-solid fa-trash"></i> Удалить </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="../../../static/js/bootstrap.bundle.js"></script>
</body>

</html>


